{% extends 'frontend/base.html.j2' %}

{% block title %}{{ gettext('Login') }}{% endblock %}

{% block content %}

<form method="POST" action="/login">
	{{ form.csrf_token }}
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">{{ form.name.label }} </label>
		<div class="col-sm-10">
			{{ form.name(size=20) }}
		</div>
	</div>
	{{ form.submit() }}
</form>
{% endblock %}

