{% extends 'frontend/base.html.j2' %}

{% block title %}{{ gettext('Password Change') }}{% endblock %}

{% block content %}

{{ render_form(form)}}

{% endblock %}

{% block script_js %}

password_change.init();


{% endblock %}
