<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Lenticular Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/main.css?v={{ GIT_HASH }}" />
    {% block head %}{% endblock %}
</head>
<body>
<div class='messages-box'>
</div>
<template id='confirm-dialog-template'>
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>

			<div class="modal-body">
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger close" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary btn-ok process">Process</button>
			</div>
		</div>
	</div>
</template>
{% block body %}{% endblock %}
<script type="application/javascript" src="/static/main.js?v={{ GIT_HASH }}" ></script>
<script type="application/javascript" >
{% block script_js %}{% endblock %}
</script>
</body>
</html>

