{% extends 'frontend/base.html.j2' %}

{% block title %}{{ gettext('app token') }}{% endblock %}

{% block content %}

<div>
	<table class="table">
		<thead>
			<tr>
				<th>name</th>
				<th>scopes</th>
				<th>last used</th>
				<th>created at<th>
				<th> <th>
			</tr>
		</thead>
		<tbody>
			{% for app_token in current_user.app_tokens %}
			<tr>
				<td>{{ app_token.name }}</td>
				<td>{{ app_token.scopes }}</td>
				<td>{{ app_token.last_used }}</td>
				<td>{{ app_token.created_at }}</td>
				<td>
					{{ render_form(delete_form, action_url=url_for('frontend.app_token_delete', app_token_name=app_token.name)) }}
		{#
					<a title="{{ gettext('Revoke')}}" href="{{ url_for('.app_token_revoce', id=app_token.id) }}" onclick="client_cert.revoke_certificate(this.href, '{{ cert.serial_number_hex }}'); return false;"><i class="fas fa-ban"></i></a>
		#}
				</td>
			</tr>
			{% endfor %}
    </table>
	<a class="btn btn-primary" href="{{ url_for('frontend.app_token_new') }}">
		New Token
    </a>
</div>

{% endblock %}


{% block script_js %}

{% endblock %}
