{% extends 'base.html.j2' %}


{% block body %}

<div class="container-fluid">
	<div class="row">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar fixed-top">
			<div class="sidebar-sticky active">
				{#<a href="/"><img alt="logo" class="container-fluid" src="/static/images/dog_main_small.png"></a>#}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('frontend.index') }}">{{ gettext('Account') }}</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('frontend.client_cert') }}">{{ gettext('Client Cert') }}</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('frontend.totp') }}">{{ gettext('2FA - TOTP') }}</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('frontend.oauth2_tokens') }}">{{ gettext('Oauth2 Tokens') }}</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('frontend.password_change') }}">{{ gettext('Password Change') }}</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('frontend.logout') }}">{{ gettext('Logout') }}</a></li>
			</div>
		</nav>

		<main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
			<h1>{% block title %}{% endblock %}</h1>
			<div class="card">
				<div class="card-body mt-5 mb-5">
					<div class="tab-content">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
{% endblock %}


