
{% extends 'auth/base.html.j2' %}

{% block title %}{{ gettext('Sign Up') }}{% endblock %}

{% block content %}

{{ render_form(form, onsubmit="return auth.sign_up.submit(this)", action_url=url_for('auth.sign_up_submit')) }}

{% endblock %}

