<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Lenticular Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/main.css?v={{ GIT_HASH }}" />
    {% block head %}{% endblock %}
</head>
<body>
<div class='messages-box'>
</div>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	{% if current_user.is_authenticated %}
		<a class="nav-link" href="{{ url_for('frontend.logout') }}">{{ gettext('Logout') }}</a>
		Hallo {{ current_user.username }}
	{% endif %}
	<div class="col-xs-1"><button id="sidebarCollapse" class="btn btn-primary d-xs-block d-md-none" ><i class="fa fa-bars fa-2x"></i></button></div>
	<div class="col-xs-11"><a class="navbar-brand col-xs-11 col-sm-3 col-md-2 mr-0" href="/">Lenticular Cloud</a></div>
</nav>


<div style="height: 40px"></div>

{% block body %}{% endblock %}
<div class='container'>
	<div class="mt-5 row justify-content-center">
		<footer>
			<span class="text-muted">Render Time: {{ g.request_time() }}</span> | <span class="text-muted">{{ gettext('All right reserved. &copy;') + '2020' }}</span>
		</footer>
	</div>
</div>
<script type="application/javascript" src="/static/main.js?v={{ GIT_HASH }}" ></script>
<script type="application/javascript" >
  {% block script_js %}
  // depricated
{% endblock %}
window.fieldlist = {
	add: function(linkTag) {

		var templateTag = linkTag.parentNode.querySelector('template');
		var name = templateTag.dataset['fieldlistName'];
		var template = templateTag.content.cloneNode(true);
		var id = templateTag.dataset['fieldlistNextId']++;
		for(let tag of template.querySelectorAll('[name], [id]')){
			tag.name = tag.name.replace(/^custom-/, name+'-'+id+'-')
			tag.id = tag.id.replace(/^custom-/, name+'-'+id+'-')
		};
		templateTag.parentNode.querySelector('ul').appendChild(template);

		return false;
	},
	remove: function(base) {
		base.parentElement.remove()
		return false;
	}
};
</script>
{% block script %}{% endblock %}
</body>
</html>

